.icon-sidebar{
  margin-right: .3em;
  font-size: 1.3em;
}

.infoPhoto-home{
  padding-bottom: 20px;
}

.infoContent{
  border-bottom: solid 3px #62C06C;
}

.cards{
  border-radius: 10px;
  background-color: white;
  padding: 20px 60px;
  text-align: left;
  border-left: solid 13px #62C06C;

}

.imageProfile-home{
  width: 150px;
  border-radius: 10%;
}

.content-all{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.alignName-home{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 10px;
}

.info-home{
  margin-top: 1.5em;
}

.info-home h3{
  font-size: 1.5em;
}

.info-home .infoTitle-home{
  color: #737D8C;
  font-weight: 600;
}

.titleCard{
  color: rgb(96, 104, 117);
  display: flex;
  justify-content: left;
}

.lastLogin-home{
  text-align: center;
  font-size: 1.3em;
}

.containerTransaction-text{
  margin-bottom: 1rem;
  background-color: #BBF4CF;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(68, 68, 68);
}

.recentTransaction-home p{
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.leftTransaction-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightTransaction-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.saldo-home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #5AC2A4;
  padding: 35px 0;
}

.saldo-home h2{
  font-size: 3rem;
}
